body
{
    background-color: blueviolet;
    padding: 0%;
    margin: 0%;
}
#gif
{
    width="300px" ;
    height="450px";
}
#wish
{
    width: 100%;
    height: 100px;
    background-color: black;
    color: orange;
    transform: matrix(1,0,0,1,0,0);
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    transition: transform 3s;
    font-weight: bolder;
    font-size: 30px;
}
#box2
{
    width: 100;
    margin-left: 5%;
    margin-right: 5%;
    height: 650px;
    background:url(vijitha.jpg);
    transition: background 3s;
}
#one,#two,#three,#four,#five,#seven,#eight,#nine,#ten,#ele,#twel,#thirt,#frt
{
    border-radius: 50px;
    background-color:tomato;
    width: 50px;
    height: 40px;
    padding:10px;
    text-align: center;
    color:black;
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    float: left;
    align-content: flex-start;
}
