body{
    background-color: black;
    color: cornsilk;
    
}
#init
    {
    width: 40%;
    height: 100px;
    animation-name: ex;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    animation-duration: 10s;
    position: relative;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    }
    @keyframes ex {
        0% {background-color:green;left:0px;top:590px;width:60%;}
        25% {background-color:red;left:50px;top:690px;width:40%;}
        50% {background-color:blueviolet;left:50px;top:590px;width:30%;}
        75% {background-color:orangered;left:0px;top:690px;width: 40%;}
        100% {background-color:palevioletred;left:50px;top:590px;width: 30%;}
        
    }
    #one,#two,#three,#four,#five,#seven,#eight,#nine,#ten,#ele,#twel,#thirt,#frt
    {
        border-radius: 50px;
        background-color:tomato;
        width: 50px;
        height: 40px;
        padding:10px;
        text-align: center;
        color:black;
        font-size: 20px;
        font-weight: bolder;
        float: left;

    }
    #vijji
    {
        float: right;
        margin: 0%;
    }
